{{define "base"}}
<!doctype html>
<html lang="en-GB">
    <head>
        <title>{{block "title" . }} {{end}}</title>
        {{block "style" . }} {{end}}
    </head>
    <body>
        {{template "content" . }}
        <footer>{{block "footer" . }} {{end}}</footer>
        {{block "js" . }} {{end}}
    </body>
</html>
{{end}}
